.form-group label {
    font-weight: bold;
}
.container {
    max-width: 800px;
}

.choose-file-button {
    background-color: #007bff; /* Bright blue color */
    color: white;
    font-weight: bold;
    padding: 12px 24px; /* Larger padding for better clickability */
    border: 2px solid #0056b3; /* Darker blue border */
    border-radius: 8px; /* Slightly rounded corners */
    font-size: 18px; /* Larger font size */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.choose-file-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05); /* Slightly grow the button on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow on hover for depth */
}

#fileName {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.image-product-edit
{
    max-width: 200px; max-height: 200px; margin-top: 10px;
}