.form-group label {
    font-weight: bold;
}
.container {
    max-width: 800px;
}

.choose-file-button {
    background-color: #007bff; /* Bright blue color */
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #0056b3; /* Darker blue border */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.choose-file-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05); /* Slightly grow the button on hover */
}

#fileName {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.image-product-add
{
    max-width: 200px; max-height: 200px; margin-top: 10px; display: none
}