<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin/layout-admin.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doanh thu</title>
    <!-- Chart.js -->
    <script src="/assets/js/chart.js"></script>
    <!-- Google Font -->
    <link rel="stylesheet" href="/assets/css/css2-font.css">

    <link rel="stylesheet" href="/assets/css/admin/revenue.css">

</head>
<body>
<section layout:fragment="app-content">
    <div class="container mt-5">
        <!-- Thông tin doanh thu -->
        <div class="row mb-4">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Doanh thu hôm nay</h5>
                        <p id="todayRevenue">0 VND</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Doanh thu trong tháng</h5>
                        <p id="monthlyRevenue">0 VND</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Doanh thu trong năm</h5>
                        <p id="annualRevenue">0 VND</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Biểu đồ doanh thu 12 tháng -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Biểu đồ doanh thu 12 tháng</h5>
                <canvas id="monthlyRevenueChart"></canvas>
            </div>
        </div>
    </div>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/admin/revenue.js"></script>
</section>
</body>
</html>