<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Error - Internal Server Error</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/information.css">

</head>
<body>
<div class="error-container">
    <h1 class="error-title">500</h1>
    <h2>Oops! Something Went Wrong.</h2>
    <p>Sorry, there was an internal server error. Please try again later.</p>
    <a href="/" class="btn btn-primary btn-home">Go to Home</a>
</div>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>