<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/recaptcha__vi.js"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/pico.jade.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/login-register.css">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Đăng Nhập và Đăng Ký</title>
</head>
<body>
<div class="container">
    <!-- Phần Đăng Nhập -->
    <div class="form-section">
        <h2>Đăng Nhập</h2>
        <div th:if="${messageLogin}" class="alert alert-danger">
            <p th:text="${messageLogin}"></p>
        </div>
        <form id="loginForm" th:action="@{/login}" method="post">

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="form-group">
                <label for="username">Tên người dùng:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <input type="checkbox" id="remember-me" name="remember-me" checked>
            <label for="remember-me">Remember Me</label>
            <button type="submit" id="loginBtn">Login</button>
            <p><a href="/auth/forgot-password">Quên mật khẩu?</a></p>
        </form>
        <div class="text-center mt-3">
            <a class="btn btn-danger google-btn" th:href="@{/oauth2/authorization/google}">
                <i class="fab fa-google"></i>
                <span>Sign in with Google</span>
            </a>
        </div>
    </div>
    <!-- Phần Đăng Ký -->
    <div class="form-section">
        <h2>Đăng Ký</h2>
        <form id="registerForm" method="post" action="/auth/register">
            <!-- CSRF token cho form đăng ký - QUAN TRỌNG ĐỂ KHẮC PHỤC LỖ HỔNG -->

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="form-group">
                <label for="regFullname">Fullname:</label>
                <input type="text" class="form-control" id="regFullname" name="fullname" required>
            </div>
            <div class="form-group">
                <label for="regEmail">Email:</label>
                <input type="email" class="form-control" name="email" id="regEmail" required>
            </div>
            <div class="form-group">
                <label for="regUsername">Username:</label>
                <input type="text" class="form-control" id="regUsername" required name="username">
            </div>
            <div class="form-group">
                <label for="regPassword">Mật khẩu:</label>
                <input type="password" class="form-control" id="regPassword" name="password" required>
            </div>
            <div class="g-recaptcha" data-sitekey="6LfhgooqAAAAACfj2CyCG45KmQmX7zXUI9cDMXmg" data-callback="enableBtn"></div>
            <span id="captchaError" class="alert alert-danger"></span>
            <br><br><br>
            <button type="submit" id="registerBtn" disabled="disabled">Đăng Ký</button>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="customModal" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customModalLabel">Dynamic Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="message">Default message</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="okButton">OK</button>
            </div>
        </div>
    </div>
</div>
<script src="/assets/jquery/jquery-3.7.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/api-capcha.js" async defer></script>
<script src="/showMsg.js"></script>
<script src="/assets/js/login-register.js"></script>
</body>
</html>