<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Webcrumbs Plugin</title>

</head>

<body>
<div id="webcrumbs">
    <div class="w-[400px] bg-white shadow-lg rounded-lg p-6 transition-transform duration-300 hover:scale-105">
        <div class="flex flex-col gap-4 items-center"> <img
                src="https://tools-api.webcrumbs.org/image-placeholder/100/100/doodles/1" alt="Success"
                class="h-[100px] w-[100px] object-contain" />
            <h1 class="text-lg font-title text-neutral-950 text-center">Bạn đã đặt lại mật khẩu thành công</h1>
            <p class="text-neutral-800 text-sm text-center"> Nhấn vào nút dưới đây để quay về trang chủ. </p>
            <button type="button"
                    class="bg-primary-500 text-primary-50 rounded-md py-2 px-4 text-sm w-full shadow-md hover:bg-primary-600 active:scale-95">
                Trang Chủ </button>
        </div>
    </div>


</div>
</body>
<script>
    document.querySelector('button').addEventListener('click', () => {
        window.location.href = '/';
    });
</script>

</html>