<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Page</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/pico.jade.min.css">
    <link rel="stylesheet" href="/assets/css/customer/checkout.css">

    <!-- Thêm CSRF meta tags -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body th:attr="data-addresses=${addressesJson}, data-is-single-product=${isSingleProductJson}">
<header th:replace="~{user/fragments/header :: header}"></header>
<div class="container mt-5">
    <h1 class="mb-4">Checkout</h1>
    <!-- Cart Items -->
    <div class="row mb-4">
        <div class="col-md-8">
            <h2 class="h4 mb-3">Cart Items</h2>
            <!-- Sample cart item -->
            <div class="card mb-3">
                <div class="row g-0 cart_item_checkout" th:each="cartItem : ${cartItems}">
                    <div class="col-md-2">
                        <img th:src="@{/api/images(imageName=${cartItem.image})}" class="img-fluid rounded-start" alt="Product Image">
                    </div>
                    <div class="col-md-8">
                        <!-- hidden productCode -->
                        <input type="hidden" th:value="${cartItem.productCode}" name="productCode" id="productCode">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${cartItem.productName}">Product Name</h5>
                            <p class="card-text" th:text="${cartItem.cost}">$19.99</p>
                        </div>
                    </div>
                    <!-- quantity -->
                    <div class="col-md-2">
                        <div class="card-body">
                            <input type="number" class="form-control" id="quantity" name="quantity" th:value="${cartItem.quantity}" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add more cart items as needed -->
        </div>
        <!-- Order Summary -->
        <div class="col-md-4">
            <h2 class="h4 mb-3">Order Summary</h2>
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="discountCode" class="form-label">Discount Code</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="discountCode" placeholder="Enter code" th:value="${voucherCode}">
                            <button class="btn btn-outline-secondary apply-discount-btn" type="button">Apply</button>
                        </div>
                        <div th:if="${error != null}" class="text-danger small">
                            <span th:text="${error}"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <span>Subtotal:</span> <span th:text="${subtotal}" id="subtotal">$19.99</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <span>Discount:</span> <span id="discount" th:text="-${subtotal - total}"></span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between mb-2 fw-bold">
                        <span>Total:</span> <span id="total" th:text="${total}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-8">
            <h2 class="h4 mb-3">Shipping Address</h2>
            <div class="form-group">
                <label for="address-select">Chọn địa chỉ</label>
                <select id="address-select" name="selectedAddress" class="form-control">
                    <!-- Hiển thị các địa chỉ trong combobox -->
                    <option th:each="address : ${addresses}"
                            th:value="${address.addressId}"
                            th:text="${address.receiverName} + ' - ' + ${address.address} + ', ' + ${address.ward} + ', ' + ${address.district} + ', ' + ${address.province}">
                    </option>
                </select>
            </div>
            <!-- or tao dia chi moi, checkbox -->
            <div class="form-check d-flex align-items-center">
                <input class="form-check-input" type="checkbox" id="newAddress">
                <label class="form-check-label" for="newAddress">
                    Sử dụng địa chỉ tạm thời
                </label>
            </div>
            <br>

            <form>
                <main class="container">
                    <article>
                        <header>
                            <h3>Thông tin đặt hàng</h3>
                        </header>

                        <form id="checkoutForm">
                            <div class="grid">
                                <div>
                                    <label for="fullName">Họ và tên</label>
                                    <input type="text" id="fullName" name="fullName" required placeholder="Nhập họ tên của bạn"
                                           autofocus value="Example">
                                </div>
                                <div>
                                    <label for="phone">Số điện thoại</label>
                                    <input type="tel" id="phone" name="phone" required placeholder="Nhập số điện thoại của bạn"
                                           value="0123456879">
                                </div>
                            </div>

                            <div class="address-container">
                                <label for="address">Địa chỉ</label>
                                <input type="text" id="address" name="address" required placeholder="Nhập địa chỉ của bạn"
                                       autocomplete="off">
                                <div id="suggestions" class="suggestions"></div>
                            </div>

                            <div class="grid">
                                <div>
                                    <label for="city">Tỉnh/Thành phố</label>
                                    <input type="text" id="city" name="city" required placeholder="Nhập tỉnh/thành phố">
                                </div>
                                <div>
                                    <label for="district">Quận/Huyện</label>
                                    <input type="text" id="district" name="district" required placeholder="Nhập quận/huyện">
                                </div>
                                <div>
                                    <label for="ward">Phường/Xã</label>
                                    <input type="text" id="ward" name="ward" required placeholder="Nhập phường/xã">
                                </div>
                            </div>
                        </form>
                    </article>
                </main>
            </form>
        </div>
        <div class="col-md-4">
            <h2 class="h4 mb-3">Payment Method</h2>
            <div class="payment-methods">
                <div class="form-check card mb-3">
                    <input class="form-check-input" type="radio" checked name="paymentMethod" id="COD">
                    <label class="form-check-label d-flex align-items-center" for="COD">
                        <img height="50px" src="https://cdn.iconscout.com/icon/free/png-256/free-cod-icon-download-in-svg-png-gif-file-formats--credit-debit-bank-payment-methods-vol-2-pack-business-icons-32290.png?f=webp&w=256"
                             alt="COD" class="payment-icon">
                        <span>Cash on Delivery (COD)</span>
                    </label>
                </div>
                <div class="form-check card mb-3">
                    <input class="form-check-input" type="radio" name="paymentMethod" id="VNPAY">
                    <label class="form-check-label d-flex align-items-center" for="VNPAY">
                        <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/10/Icon-VNPAY-QR.png" alt="VNPAY"
                             class="payment-icon">
                        <span>VNPAY</span>
                    </label>
                </div>
                <div class="form-check card mb-3">
                    <input class="form-check-input" type="radio" name="paymentMethod" id="PAYPAL">
                    <label class="form-check-label d-flex align-items-center" for="PAYPAL">
                        <img src="https://files.softicons.com/download/business-icons/payment-method-icons-by-design-bolts/ico/Paypal-Payment_Icon.ico"
                             alt="Paypal" class="payment-icon">
                        <span>Paypal</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- Checkout Button -->
    <div class="row">
        <div class="col-md-8">
            <button class="btn btn-primary btn-lg w-100 place-order-btn" type="submit">Place Order</button>
        </div>
    </div>
</div>

<!--<form id="orderForm" action="/customer/order/create" method="post">-->
<!--    <input type="hidden" name="createOrderRequest" id="createOrderRequestInput">-->
<!--    <button type="submit">Tạo đơn hàng</button>-->
<!--</form>-->

<!--<footer th:replace="~{customer/fragments/footer :: footer}"></footer>-->
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<!--ajax-->
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js/customer/checkout.js"></script>
<!--<footer th:replace="~{customer/fragments/footer :: footer}"></footer>-->
</body>
</html>