<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/customer/order-success.css">
    <title>My Webcrumbs Plugin</title>
</head>
<body>
<div id="webcrumbs">
    <div class="w-[600px] bg-white shadow-lg rounded-lg p-8 flex flex-col items-center gap-6"> <h1 class="text-3xl font-title text-primary-950">Order Success</h1> <p class="text-neutral-600 text-lg text-center"> Your order has been placed successfully. </p> <a href="/" class="bg-primary-500 text-primary-50 px-6 py-3 rounded-md text-lg"> Back to Home </a> </div>


</div>
</body>
</html>