<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Xem lịch sử mua hàng</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/customer/order-history-search.css">
</head>
<body>
<header th:replace="~{user/fragments/header::header}"></header>
<div class="main">
    <!-- Thanh search -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2>Lịch sử mua hàng</h2>
            </div>
            <div class="col-md-6 text-end">
                <form action="/customer/order/search" method="get">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Tìm kiếm đơn hàng" name="keyword" th:value="${keyword}">
                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab mt-4 mb-4 container text-center">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item"><a class="nav-link-d" href="/customer/order/order-history?tab=tat-ca-don-hang" th:classappend="active"><i class="fas fa-list"></i> Tất cả</a></li>
            <li class="nav-item"><a class="nav-link-d" href="/customer/order/order-history?tab=don-cho-xac-nhan"><i class="fas fa-clock"></i> Chờ xác nhận</a></li>
            <li class="nav-item"><a class="nav-link-d" href="/customer/order/order-history?tab=don-da-xac-nhan"><i class="fas fa-check-circle"></i> Đã xác nhận</a></li>
            <li class="nav-item"><a class="nav-link-d" href="/customer/order/order-history?tab=don-dang-van-chuyen"><i class="fas fa-truck"></i> Đang vận chuyển</a></li>
            <li class="nav-item"><a class="nav-link-d" href="/customer/order/order-history?tab=don-da-giao"><i class="fas fa-check-double"></i> Hoàn thành</a></li>
            <li class="nav-item"><a class="nav-link-d" href="/customer/order/order-history?tab=don-huy"><i class="fas fa-times-circle"></i> Đã hủy</a></li>
        </ul>
    </div>
    <div class="tab-content">
    </div>
</div>
<footer th:replace="~{user/fragments/footer :: footer}"></footer>

<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js/customer/order-history-search.js"></script>
</body>
</html>