<header th:fragment="header">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glamour Cosmetics</title>
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Estonia&family=Kaushan+Script&family=Marck+Script&family=Nothing+You+Could+Do&family=Patrick+Hand&family=Roboto&family=Satisfy&family=Sawarabi+Gothic&family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/header.css">
</head>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/browser/search">Products</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/browser/vouchers">Vouchers</a></li>
            <li class="nav-item">
                <a class="nav-link cart-icon" href="/customer/cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-badge" id="cart-count">0</span>
                </a>
            </li>
            <li class="nav-item dropdown" id="user-dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="d-flex align-items-center">
                    <a href="#" class="cart-icon me-3">
                        <i class="bi bi-bag-heart"></i>
                    </a>
                    <div class="dropdown">
                        <div class="profile-menu" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i>
                        </div>
                    </div>
                    <li class="btn btn-success" th:if="${#authorization.expression('isAuthenticated()')}"><a class="dropdown-item" id="profileItem" href="/customer/personal-info">Profile</a></li>
                    <li class="btn btn-custom" th:if="${#authorization.expression('isAuthenticated()')}"><a class="dropdown-item" id="manageProductItem" href="/customer/order/order-history">Orders</a>                                    </li>
                    <li class="btn btn-danger" th:if="${#authorization.expression('isAuthenticated()')}"><a class="dropdown-item" href="/logout" id="logout">Logout</a></li>
                    <li class="btn btn-success" th:if="${#authorization.expression('!isAuthenticated()')}"><a class="dropdown-item" id="loginItem" href="/auth/login">Login</a></li>
                    <li class="btn btn-danger" th:if="${#authorization.expression('!isAuthenticated()')}"><a class="dropdown-item" id="registerItem" href="/auth/register">Register</a></li>

                </div>
            </li>
        </ul>
    </div>
</nav>
</html>
</header>
<script src="/assets/js/header.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>

